.loader {
    position: absolute;
    left: 500px;
    top: 300px;
    border: 16px solid lightblue;
    border-top: 16px solid slategray;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    // margin-top: 150px;
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(720deg) }
}