@mixin track() {
    min-height: 10px;
}

.slider {
    width: 1050px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}


.slider::-webkit-slider-runnable-track {
    width: 900px;
    height: 1px;
    // background-color: purple;
}


.slider-container .slider::-webkit-slider-thumb {
    position: relative;
    background-color: green;
    color: green;
    // height: 15px;
    // width: 15px;
    margin-top: -3px;
    // border-radius: 50%;
    z-index: 1;
}

.slider-container {
    position: relative;
    // height: 60px;
    width: 900px;
    // display: inline-block;
    // margin-top: -5px;
    margin-left: 20px;
    

    input {
        position: absolute;
    }
}

.value-bar {
    display: flex;

    span:nth-child(1) {
        margin-left: 5px;
        font-size: 28px;
    }
    span:nth-child(2) {
        margin: 0 79px;
        font-size: 28px;
    }
    span:nth-child(3) {
        margin-left: -10px;
        font-size: 28px;
    }
    span:nth-child(4) {
        margin: 0 55px;
        font-size: 28px;
    }
    span:nth-child(5) {
        margin-left: -10px;
        font-size: 28px;
    }
    span:nth-child(6) {
        margin: 0 48px;
        font-size: 28px;
    }
    span:nth-child(7) {
        margin-left: -8px;
        font-size: 28px;
    }
    span:nth-child(8) {
        margin: 0 42px;
        font-size: 28px;
    }
    span:nth-child(9) {
        margin-left: -5px;
        font-size: 28px;
    }
    span:nth-child(10) {
        margin: 0 38px;
        font-size: 28px;
    }
    span:nth-child(11) {
        font-size: 28px;
    }
}
.table-container {
    width: 800px;
    min-height: 300px;
}
.transaction-container {
    width: 900px;
    margin: 10px auto;
}


.filter-field {
    margin: 40px 0 0px 20px;
}
table {
    width: 50%;
    margin: 0px auto;
}

.body {
    width: 800px;
}

input {
    &::-webkit-slider-runnable-track { @include track }

}